.wrapper {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}

.panel {
  position: absolute;
  bottom: calc(100% + 4px);
  right: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  background-color: #fff;
  overflow: hidden;
  height: 48px;
  white-space: nowrap;
}

.option {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.15s ease;
  padding: 0 6px;
}

.option > svg {
  min-width: 22px;
  height: auto;
}

.option:not(.option:last-child) {
  border-right: 1px solid #c6c6c6;
}

.option:hover {
  background: #e4e4e4;
}

.option.active {
  background: #e4e4e4;
}

.trigger {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 0.5px solid #818181;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
}
